* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: aqua;
  padding: 0 30px;
  margin: 0 auto;
  height: 100px;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-container * {
  background-color: goldenrod;
  width: 20%;
  padding: 15px;
}

.nav-header {
  width: 60%;
  align-items: center;
}
