/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  background-color: aqua;
  padding: 0 30px;
  margin: 0 auto;
  height: 100px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-container * {
  background-color: goldenrod;
  width: 15%;
  padding: 10px;
  border: 2px dashed black;
}

.nav-header {
  width: 40%;
  align-items: center;
}

/* MAIN */
main > section {
  padding: 3rem 0;
}

/* SECTION1 */
.section1 {
  padding: 50px 40px;
  background-color: blue;
}

.presentation1 {
  background-color: fuchsia;
  margin: 0 auto;
  width: 60%;
  height: 300px;
  border: 2px dashed black;
}

/* SECTIONS2 A-B */

.section2a {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

.section2b {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.pair-img {
  height: 400px;
  background-color: lightblue;
  flex-basis: 40%;
  border: 2px dashed black;
}

.pair-text {
  height: 400px;
  background-color: pink;
  flex-basis: 30%;
  border: 2px dashed black;
}
